<head>
	<link href="/normalize.css" rel="stylesheet">
	<title>Sam Rules</title>
</head>
<body>
<header>
	<img src="http://photos-c.ak.instagram.com/hphotos-ak-xaf1/10693386_1480480728904538_1307370981_a.jpg">
	<h1>Masha's Blog</h1>
	<ul>
		<li>My Resume</li>
		<li>My Links</li>
		<li>Contact</li>
	</ul>
</header>
<article>
	<h2>Welcome to my page!</h2>
	<p>I'm extremely excited to see you on my page. This blog is raw but I'm trying to make it better. Please click the button bellow to support me. Thanks!</p>
	<button>Like</button>
</article>
<article>
	<h2>Say hi!</h2>
	<p>You can share your email address with me and we can become friends!</p>
	<input type="email" placeholder="Your email">
	<input type="submit">
</article>
<script>
$("button").on("click", function() {
	alert("Liked!");
});
</script>
</body>



