<head>
	<link href="/normalize.css" rel="stylesheet">
	<title>Masha's First Blog</title>
</head>
<body>
<header>
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/v/t1.0-1/p160x160/10418156_4344815474052_4717684954632903154_n.jpg?oh=37e13d79795bbb4c609b56cd7c89c1c7&oe=551F8D65&__gda__=1427124601_7077ce6e48570bf4baca59434441ade5">
	<h1>Masha's Blog</h1>

<div class:"list">
	<ul>
		<li>My Resume</li>
		<li>My Links</li>
		<li>Contact</li>
		<li><%= link_to 'My Blog', controller: 'articles' %></li>
	</ul>
</div>
</header>
<article>
	<h2>Welcome to my page!</h2>
	<p>I'm extremely excited to see you on my page. This blog is raw but I'm trying to make it better. Please click the button bellow to support me. Thanks!</p>
	<button>Like</button>
</article>
<article>
	<h2>Say hi!</h2>
	<p>You can comment in this section and we can get to know each other!</p>
	<input type="comment" placeholder="Your comment">
	<input type="submit">
</article>
<script>
$("button").on("click", function() {
	alert("Liked!");
});
</script>
</body>



