body {
	background:black;
	color: white;
	font-family: Helvetica;
}
header {
	text-align: center;
	background: url("http://i.imgur.com/k4UYTtZ.jpg");
	background-size: cover;
	color: white;
}
h1 {
	font-size: 70px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
img {
	margin: 40px 0px 0px 0px;
	border: 3px solid white;
	border-radius: 100px;
}
ul {
	padding: 10px;
	background: rgba(0,0,0,0.5);
	font-size: 18px;
}
li {
	display: inline;
	padding: 0px 10px 0px 10px;
}
article {
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
}
button {
	border: 0;
	padding: 10px;
	font-size: 13px;
	background: #1e90ff;
	color: white;
}
input {
	border: 0;
	padding: 10px;
	font-size: 18px;
}
input[type="submit"] {
	background: magenta;
	color: white;
}
@media (max-width: 500px) {
	h1 {
		font-size: 36px;
		padding: 5px;
	}
	li {
		padding: 5px;
		display: block;
	}
}